
b{
    color: rgba(61, 148, 183, 0.764);
    font-weight: 900;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main{
    align-items: center;
    justify-content: center;
}

.cart label{
    color: rgb(1, 63, 63);
    font-weight: 900;
    font-size:x-large;
    color:rgb(1, 1, 109);
}

.btn{
    font-weight: 800;
}





