body{
    background-color: rgb(162, 209, 241);
    display: block;
    background-size: cover;
}

b{
    color: rgb(151, 26, 26);
    font-weight: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.alink{
    text-align: center;
    justify-content: center;
}

.alink a{
    background-color:rgb(152, 226, 255);
    display: block;
    font-size:larger;
    border: 2px solid rgb(20, 2, 100);
    border-radius: 50px;
    margin-top: 50px;
    padding: 10px 10px;
    text-decoration: none;

}

a:hover{
    background-color: rgb(52, 168, 240);
    color: black;
    font-weight: 800;
}





